/* font converted using font-converter.net. thank you! */
@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');
@font-face {
	font-family: "MatrixBoldSmallCaps";
	src:url("../fonts/MatrixBoldSmallCaps.ttf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "zh";
	src:url("../fonts/zh.ttf") format("truetype");
}
@font-face {
	font-family: "cn";
	src:url("../fonts/cn.ttf") format("truetype");
}
@font-face {
	font-family: "jp";
	src:url("../fonts/jp.ttf") format("truetype");
}
@font-face {
	font-family: "jp2";
	src:url("../fonts/jp2.otf") format("opentype");
}
@font-face {
	font-family: "en";
	src:url("../fonts/en.ttf") format("truetype");
}
@font-face {
	font-family: "en2";
	src:url("../fonts/en2.ttf") format("truetype");
}
@font-face {
	font-family: "en3";
	src:url("../fonts/en3.ttf") format("truetype");
}
@font-face {
	font-family: "link";
	src:url("../fonts/link.ttf") format("truetype");
}

.preloadfont {
	font-family: YourFont;
	opacity:0;
	height:0;
	width:0;
	display:inline-block;
}
/*排版*/
body{
	background-color: #222;
	/*background: url("../../image/background.jpg") no-repeat center center;
	background-attachment: fixed;
	background-size: cover;*/
	font-family: 'Noto Sans TC', 'arial', "微軟正黑體";
}
.topbar {
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 999;
	font-size: 22px;
	line-height: 60px;
	text-align: center;
	background-color: #2f2f2f;
}
.card{
	background-color: transparent/*rgba(203,203,203,.4)*/;
	border-radius: .5rem;
}
/*流變*/
.cardbg{ width: 100%;}
#cardCard{ width: 28vw; position: fixed; left: 5vw;}
#dataCard{ width: 62vw; position: absolute; left: 34vw;}
@media (max-width: 960px) { #cardCard{ width: 35vw;} #dataCard{ width: 55vw; left: 41vw;}}
@media (max-width: 768px) { #cardCard{ width: 60vw; position: static;} #dataCard{ width: 70vw; position: static;}}
@media (max-width: 576px) { #cardCard, #dataCard{ width: 80vw;}}
@media (max-width: 425px) { #cardCard, #dataCard{ width: 90vw;}}

/*輸入區*/
select, textarea, input, .custom-file-label{
	background-color: #2f2f2f/*rgba(84,84,84,.5)*/ !important;
	color: #CCC/*white*/ !important;
	border: 0 !important;
}
#pform fieldset{
	border: 2px solid rgba(84,84,84,.2);
	border-radius: .25rem;
	/*box-shadow: 0 1rem 1rem rgba(239,239,239,.15) !important;*/ 
}
.custom-file-label::after{
	background-color: #3f3f3f !important;
	color: #FFF;
}
/*CheckBox鈕*/
.checkboxButton{ display: none;}
.checkboxButton + .checkboxLabel{
	display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    color: #495057;
    background-color: #2f2f2f;
    border-radius: .25rem;
}
.checkboxButton:checked + .checkboxLabel{
	color: #FFF;
    background-color: #17a2b8;
}
#holo + .checkboxLabel::before{ content: '關';}
#holo:checked + .checkboxLabel::before{ content: '開';}
/*連結方向鈕*/
.linkButton{ display: none;}
.linkButton + .linkLabel{
	width: 1.7rem;
    padding: .4rem .5rem;
    color: #495057;
    background-color: #2f2f2f;
    border-radius: .25rem;
    margin: 0;
    font-size: 2pt;
    text-align: center;
}
.linkButton:checked + .linkLabel{
	color: #FFF;
    background-color: #1a73e8;
}